<div class="modal" #modal>
  <div class="modal-content">
    <button class="close" (click)="closeModal()">X</button>
    <h3 class="center-text">{{title}}</h3>
    <hr />
    <h5>Username</h5>
    <input #userName />
    <br />
    <h5>Email</h5>
    <input #email />
    <br />
    <h5>Role</h5>
    <input #role />
    <br />
    <div [hidden]="passwordMandatory" style="display: flex;flex-direction: row">
      <h5>Change Password</h5>
      <input type="checkbox" (change)="changePassword = !changePassword" style="margin-left: 25px"/>
    </div>
    <br [hidden]="passwordMandatory"/>
    <h5 [hidden]="!(passwordMandatory || changePassword)">Password</h5>
    <input [hidden]="!(passwordMandatory || changePassword)" type="password" #password />
    <br [hidden]="!(passwordMandatory || changePassword)"/>
    <h5 [hidden]="!(passwordMandatory || changePassword)">Confirm Password</h5>
    <input [hidden]="!(passwordMandatory || changePassword)" type="password" #confirmPassword/>
    <br [hidden]="!(passwordMandatory || changePassword)"/>
    <div class="center-content">
      <button (click)="onClick()">{{title}}</button>
    </div>
    <br />
    <p class="error" #error></p>
  </div>
</div>
