<div class="popup neon-text" #popup>
  <button class="close" (click)="closePopUp()">X</button>
  <div *ngIf="device">
  <div style="display: flex">
    <img src="assets/Warning-PNG-Picture.png" style="height: 100px; width: 100px"/>
    <div *ngIf="device">
      <h3>Device {{device.description}}</h3>
      <h5>Maximum hourly energy consumption was exceeded with {{device.currentHourlyEnergyConsumption == null ? 0 : device.currentHourlyEnergyConsumption - device.maximumHourlyEnergyConsumption}}kW</h5>
      <h5>Maximum hourly energy consumption: {{device.maximumHourlyEnergyConsumption}}kW</h5>
      <h5>Current hourly energy consumption: {{device.currentHourlyEnergyConsumption}}kW</h5>
    </div>
  </div>
</div>
