<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm bg-navbar border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand neon-text-nav" [routerLink]="['/admin/users']">Energy Consumption Management</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link neon-text-nav" [routerLink]="['/admin/users']">Users</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link neon-text-nav" [routerLink]="['/admin/devices']">Devices</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link neon-text-nav" [routerLink]="['/admin/user-device-mapping']">User-Device Mapping</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link neon-text-nav" [routerLink]="['/admin/chat']">Chat</a>
        </li>
      </ul>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link neon-text-nav" (click)="openMyAccountModal()">My Account</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link neon-text-nav" (click)="signOut()">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<user-modal class="neon-text" #editUserModal></user-modal>
<device-pop-up></device-pop-up>