<app-nav-menu></app-nav-menu>
<div class="neon-text container box-panel box-shadow">
  <div *ngIf="device">
    <h5>Description: {{device.description}}</h5>
    <br /> 
    <h5>Address: {{device.address}}</h5>
    <br /> 
    <h5>Maximum Hourly Energy Consumption: {{device.maximumHourlyEnergyConsumption}} kW</h5>
    <br /> 
    <div style="display: flex;flex-direction: row">
      <h5>Select date:</h5>
      <input type="date" (change)="loadChartData()" #datePicker style="margin-left: 25px;margin-bottom: 25px;"/>
    </div>
    <br /> 
    <br />
    <dx-chart [dataSource]="chartData">
      <dxi-series type="spline"
                  valueField="energyConsumptionValue"
                  argumentField="timeStamp"
                  name="Energy Consumption">
      </dxi-series>
    </dx-chart>
  </div>
</div>
