/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: rgb(15, 99, 215);
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: rgb(15, 99, 215);
  border-color: rgb(15, 99, 215);
}

.center-content {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

body {
  background-image: url('assets/abstract-technology-chip-processor-background-circuit-board-and-html-code-3d-illustration-blue-technology-background-vector.jpg');
  background-size: cover; 
}

.neon-text {
  color: rgb(15, 99, 215);
  font-family: 'Neuropolitical Regular'
}

.neon-text-nav {
  color: rgb(15, 99, 215);
  font-family: 'Neuropolitical Regular'
}

.neon-text-nav:hover {
  color: white;
}

input {
  color: black;
  background-color: white;
  border-color: rgb(15, 99, 215);
}

button {
  background-color: rgb(15, 99, 215);
  color: black;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  font-size: 20px;
  border-color: rgb(15, 99, 215);
}

button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(15, 99, 215);
}

.active-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(15, 99, 215);
}

@font-face {
  font-family: Neuropolitical Regular;
  src: url('assets/prototype_[allfont.net].ttf');
}

.error {
  color: red;
}

.bg-neon {
  background-color: rgb(15, 99, 215);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.box-panel {
  justify-content: center;
  width: 100%;
  padding: 50px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.75);
}