a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-panel {
  justify-content: center;
  width: 50%;
  border: 5px solid rgb(15, 99, 215);
  padding: 50px;
  margin: 200px;
  background-color: rgba(0, 0, 0, 0.75);
}

.tab {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.tab button {
  float: left;
  font-size: 25px;
}
