<app-nav-menu></app-nav-menu>
<div class="neon-text container">
  <br />
  <br />
  <div class="align-horizontal">
    <h2 class="devices">Devices</h2>
    <button class="add-device" (click)="openAddDeviceModal()">Add Device</button>
  </div>
  <table>
    <tr>
      <th>Description</th>
      <th>Address</th>
      <th>Maximum Hourly Energy Consumption</th>
      <th>View</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let device of devices">
      <td>{{device.description}}</td>
      <td>{{device.address}}</td>
      <td>{{device.maximumHourlyEnergyConsumption}} kW</td>
      <td class="icon" (click)="viewDevice(device.id)"><img class="icon" src="assets/eye.png" /></td>
      <td class="icon" (click)="openEditDeviceModal(device)"><img class="icon" src="assets/edit.png" /></td>
    </tr>
  </table>
  <device-modal #addDeviceModal></device-modal>
  <device-modal #editDeviceModal></device-modal>
</div>
